extends base

block content 
    .container.mt-5.py-5
        .input-group.mb-3
            input.form-control(type='text' placeholder='example: user@gmail.com' aria-label='Email Address' aria-describedby='button-addon2')
            button#button-addon2.btn.btn-outline-success(type='button') Add
    .container
        table.table.table-bordered.table-hover
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Email Address
                    th(scope='col') Action
            - var i = 0
            tbody
                each value in emails
                    tr
                        th= i++
                        td=value.email
                        td.d-flex.justify-content-center
                            button.btn.btn-outline-danger(type='button') Delete