extends base

block content 
    .container.p-5
    .container.border.p-5.rounded
        form.row.g-3
            .col-md-6
                label.form-label(for='validationDefault01') First name
                input#validationDefault01.form-control(type='text' required='')
            .col-md-6
                label.form-label(for='validationDefault02') Last name
                input#validationDefault02.form-control(type='text' required='')
            .col-md-6
                label.form-label(for='validationDefaultEmail') Email
                .input-group
                    input#validationDefaultEmail.form-control(type='email' placeholder='name@example.com' aria-describedby='inputGroupPrepend2' required='')
            .col-md-6
                label.form-label(for='validationDefaultPassword') Password
                .input-group
                    input#validationDefaultPassword.form-control(type='password' aria-describedby='inputGroupPrepend2' required='')
            .col-12
                button.btn.btn-primary.float-end(type='submit') Create