.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0	;
}
.nav-div1{
	width: 40%;
}
.nav-div2{
	width: 60%;
}
.home-link {
	position: absolute;
	left: 30px;
	top: 30px;
}

.home-text {
	font-size: medium;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
	display: inline;
}

.list {
	margin: 0;
	padding: 0;
	display: flex;
    align-items: flex-start;
    justify-content: start;
	flex-direction: row;
	flex-wrap: wrap;
}

.list > div {
	display: block;
	width: 33%;	
}
.list > div > a {
	font-size: 1.5rem;
}
