.home-link {
	position: absolute;
	left: 30px;
	top: 30px;
}

.home-text {
	font-size: medium;
	font-weight: 600;
}
.nav {
	margin: 1rem 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 2.5rem;
}

.nav > h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

.list {
	margin: 0;
	padding: 0;
}

.list > li {
	list-style: none;
}
.list > li > a {
	text-decoration: none;
	font-size: 1.5rem;
}
